* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  position: relative;
  background: #E7F1F9 url("../images/bg.png") 0 0 no-repeat;
  background-size: cover;
}

@media (max-width: 800px) {
  html {
    font-size: 56%;
  }
}

@media (max-width: 620px) {
  html {
    font-size: 52%;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 48%;
  }
}

.center {
  max-width: 110rem;
  margin: auto;
  padding: 0 2rem;
}

img {
  width: 100%;
  height: auto;
}

.logo {
  margin-top: -3rem;
}

.logo img {
  width: 8rem;
  display: block;
}

.nav-right_login {
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 1.5rem;
  height: 2.8rem;
  line-height: 2.8rem;
}

.nav-right_login strong {
  font-size: 1.9rem;
  font-weight: 600;
}

.nav-right_login a {
  font-size: 1.2rem;
  margin-left: 1.2rem;
  height: 2.4rem;
  color: #010101;
  text-decoration: none;
  font-weight: 600;
}

.nav-right_login a:hover {
  color: #6236FF;
  border-bottom: 0.3rem solid #6236FF;
}

.nav-right_login .active {
  border-bottom: 0.3rem solid #6236FF;
}

.nav-right_login-first {
  margin-left: 2.5rem;
}

.boxed {
  border-radius: 0.8rem;
  background: #E6F0F8;
  -webkit-box-shadow: 5px 5px 10px #d6dfe7, -5px -5px 10px #f6ffff;
          box-shadow: 5px 5px 10px #d6dfe7, -5px -5px 10px #f6ffff;
}

.btn {
  background: transparent;
  border: none;
  color: #010101;
  font-size: 1.7rem;
  margin-top: 0.6rem;
  cursor: pointer;
}

h5 {
  font-size: 2.4rem;
  font-weight: 700;
  color: #010101;
}

.mobile-login {
  display: none;
}

nav {
  margin-top: 5rem;
}

nav .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav .nav-right > a {
  padding: 0 2.5rem;
  height: 2.8rem;
  line-height: 2.8rem;
  font-size: 1.9rem;
  color: #010101;
  text-decoration: none;
  font-weight: 600;
  margin-left: 3.5rem;
}

nav .nav-right > a span {
  color: #6236FF;
  font-size: 1.4rem;
}

nav .nav-right > a:hover {
  color: #6236FF;
  border-radius: 8px;
  background: #E6F0F8;
  -webkit-box-shadow: inset 5px 5px 10px #d6dfe7,  inset -5px -5px 10px #f6ffff;
          box-shadow: inset 5px 5px 10px #d6dfe7,  inset -5px -5px 10px #f6ffff;
}

nav .nav-right > a:hover span {
  color: #010101;
}

@media (max-width: 800px) {
  .mobile-login {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 2rem;
  }
  .mobile-login > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav .logo {
    display: none;
  }
  nav .nav-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  nav .nav-right > a {
    margin-left: 0;
  }
  nav .nav-right_login {
    display: none;
  }
}

main {
  margin-top: 20rem;
}

main .content {
  padding: 5rem 4rem 13.5rem 6rem;
}

main .content .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .content .total strong, main .content .total span {
  font-size: 2rem;
  color: #010101;
  font-weight: 700;
}

main .content .total span {
  color: #6236FF;
}

main .content .calculate {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .content .calculate-left {
  width: 25%;
  text-align: center;
  padding-top: 2.5rem;
}

main .content .calculate-left .btn {
  outline: 0;
}

main .content .calculate-left .btn span {
  color: #6236FF;
  font-size: 1.4rem;
}

main .content .calculate-left .btn:hover {
  color: #6236FF;
}

main .content .calculate-left .btn:hover span {
  color: #010101;
}

main .content .calculate-left h4 {
  font-size: 2.5rem;
  color: #010101;
  font-weight: 700;
}

main .content .calculate-left .balance {
  margin-top: 0.7rem;
  color: #010101;
  font-size: 1.7rem;
}

main .content .calculate-left .balance span {
  color: #6236FF;
  font-size: 1.7rem;
  font-weight: 600;
}

main .content .calculate-center {
  width: 50%;
  text-align: center;
}

main .content .calculate-center .tabs {
  width: 50%;
  display: inline-block;
  height: 3.4rem;
  line-height: 3.4rem;
  padding: 0.1rem;
}

main .content .calculate-center .tabs button {
  width: 47%;
  border: none;
  cursor: pointer;
  background: transparent;
  font-size: 1.2rem;
  color: #010101;
  font-weight: 600;
  outline: 0;
  height: 80%;
}

main .content .calculate-center .tabs button:hover {
  color: #6236FF;
}

main .content .calculate-center .tabs button.active {
  color: #6236FF;
  cursor: default;
  border-radius: 8px;
  background: #E6F0F8;
  -webkit-box-shadow: inset 5px 5px 10px #d6dfe7,  inset -5px -5px 10px #f6ffff;
          box-shadow: inset 5px 5px 10px #d6dfe7,  inset -5px -5px 10px #f6ffff;
}

main .content .calculate-center .main-calculation {
  margin-top: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
}

main .content .calculate-center .main-calculation .text-area {
  width: 80%;
  background: #F5F5F5;
  border-top: 0.2rem solid #CCD5DD;
  border-left: 0.2rem solid #CCD5DD;
  height: 4.4rem;
  border-radius: 0.8rem;
  line-height: 4.4rem;
  text-align: left;
  padding: 0 0.1rem;
  padding-left: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .content .calculate-center .main-calculation .text-area input {
  border: none;
  color: #010101;
  background: #F5F5F5;
  opacity: 0.6;
  height: 100%;
  outline: 0;
  padding: 0 0.2rem;
  width: 65%;
  font-size: 2rem;
}

main .content .calculate-center .main-calculation .text-area span {
  font-size: 2rem;
  color: #010101;
  opacity: 0.6;
  text-align: right;
  width: 30%;
}

main .content .calculate-center .main-calculation .button-wrap {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .content .calculate-center .main-calculation .button-wrap button {
  width: 90%;
  color: #fff;
  background: #6236FF;
  border: none;
  font-size: 2rem;
  font-weight: 600;
  border-radius: 0.8rem;
  outline: 0;
  box-shadow: 5px 5px 10px #a9a6a6, -5px -5px 10px #f6ffff;
  -webkit-box-shadow: 5px 5px 10px #a9a6a6, -5px -5px 10px #f6ffff;
  cursor: pointer;
}

main .content .calculate-center .main-calculation .button-wrap button:hover {
  opacity: 0.8;
}

main .content .calculate-right {
  width: 24%;
  margin-left: 2rem;
}

@media (max-width: 620px) {
  main .content .calculate {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .content .calculate > div {
    width: 100%;
  }
  main .content .calculate-center {
    margin: 3rem 0rem;
  }
}

footer {
  color: #6236FF;
  font-size: 2rem;
  margin-top: 25rem;
  padding-bottom: 2rem;
}

footer .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .center .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .center .social a {
  margin-left: 0.3rem;
}

footer .center .social a img {
  width: 2.5rem;
}

.status-content {
  margin-top: 14rem;
}

.status-content .boxed {
  padding-left: 2rem;
}

.status {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.status-lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 4rem;
}

.status-lower > div {
  padding: 0 5rem;
  border-right: 0.1rem solid #CCD5DD;
  text-align: center;
}

.status-lower > div:last-child {
  border-right: none;
}

.status-lower > div strong {
  color: #6236FF;
  display: block;
  font-size: 3rem;
}

.status-lower > div strong small {
  font-size: 1.8rem;
  font-weight: 400;
}

.status-lower > div span {
  display: block;
  color: #010101;
  font-weight: 600;
  font-size: 1.6rem;
  margin-top: 1.2rem;
}

@media (max-width: 800px) {
  .status-lower > div {
    padding: 0 3rem;
    text-align: left;
  }
  .status-lower > div strong {
    font-size: 2.4rem;
  }
  .status-lower > div strong small {
    font-size: 1.6rem;
  }
  .status-lower > div span {
    font-size: 1.4rem;
  }
}

@media (max-width: 620px) {
  .status-lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .status-lower > div {
    border-right: none;
    padding: 0;
    margin-top: 3rem;
  }
}

.authorities {
  margin-top: 9rem;
  padding-bottom: 3rem;
}

.authorities ul {
  margin-top: 3rem;
}

.authorities ul li {
  margin-top: 2.4rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.authorities ul li strong {
  border-right: 0.1rem solid #CCD5DD;
  color: #6236FF;
  font-size: 3rem;
  padding-right: 2rem;
}

.authorities ul li > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
}

.authorities ul li > div .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2rem;
}

.authorities ul li > div .des {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #010101;
  font-weight: 700;
  font-size: 1.6rem;
}

@media (max-width: 620px) {
  .authorities ul li > div .icon {
    display: none;
  }
  .authorities ul li > div .des {
    font-size: 1.4rem;
  }
}

.status-page footer {
  margin-top: 10rem;
}

.status-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8rem;
}

.status-bottom > div {
  width: 50%;
}

@media (max-width: 480px) {
  .status-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
    padding-top: 0;
  }
  .status-bottom > div {
    width: 100%;
  }
  .status-bottom .status-final {
    margin-top: 3rem;
  }
  .status-bottom .status-lower {
    margin-top: 0rem;
  }
}

.error {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2rem;
  width: 30%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 0.8rem;
  display: none;
}

.error-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.error h2 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  color: #010101;
  margin-top: 4rem;
}

.error p {
  text-align: center;
  color: #010101;
  font-size: 1.6rem;
  margin-top: 2rem;
}

.error .btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 3rem;
}

.error .btn-wrapper button {
  background: #7cd1f9;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  padding: 1rem 2.4rem;
  font-size: 1.4rem;
  outline: 0;
}

.error .btn-wrapper button:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  .error {
    width: 50%;
  }
}

@media (max-width: 480px) {
  .error {
    width: 80%;
  }
}

.more-info {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2rem;
  width: 40%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 0.8rem;
  display: none;
}

.more-info .close {
  position: absolute;
  right: -2rem;
  top: -2rem;
  z-index: 1001;
}

.more-info .close button {
  outline: 0;
  font-size: 2.6rem;
  font-weight: 600;
  border: none;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.more-info ul li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.2rem;
}

.more-info ul li span {
  color: #010101;
  font-size: 1.4rem;
}

.more-info ul li span a {
  text-decoration: none;
}

.more-info ul li span a:hover {
  text-decoration: underline;
}

.more-info ul li span:first-child {
  color: #777;
}

.more-info ul li .total-poa {
  font-weight: 700;
}

@media (max-width: 800px) {
  .more-info {
    width: 60%;
  }
  .more-info ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 480px) {
  .more-info {
    width: 80%;
  }
}

.shown-more_info .cover-wrapper {
  display: block;
  height: 112%;
  overflow: hidden;
  width: 100%;
  position: absolute;
  z-index: 900;
  opacity: 0.6;
  top: -11rem;
  left: 0;
  background: #6236FF;
}

.shown-more_info .more-info {
  display: block;
}
/*# sourceMappingURL=style.css.map */