

//------------- variables starts -------------
$bg-color:#E7F1F9;
$primary-color:#6236FF;
$text-primary-color:#010101;
$white-color:#F5F5F5;
$border-color:#CCD5DD;
$ok-color:#7cd1f9;


//------------- variables ends -------------

// ------------ global starts ----------------



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // font-family: segoeUI;
}

html{
    font-size: 62.5%;
}

body{
    width:100%;
    position: relative;
    background:$bg-color url('../images/bg.png') 0 0 no-repeat;
    background-size: cover;
}





@media(max-width:800px){
    html{
        font-size: 56%
    }
}

@media(max-width:620px){
    html{
        font-size: 52%
    }
}

@media(max-width:480px){
    html{
        font-size: 48%;
    }
}




// ------------ global ends ----------------




// ------------- common starts ----------------

.center{
    max-width: 110rem;
    margin: auto;
    padding: 0 2rem;
}

img{
    width:100%;
    height: auto;
}

.logo{
    // padding-top:1rem;
    margin-top: -3rem;

    img{
        width:8rem;
        display: block;
    }
}

.nav-right_login{
    margin-left: 1.5rem;

    display: flex;
    padding:0 1.5rem;
    height:2.8rem;
    line-height: 2.8rem;

    strong{
        font-size: 1.9rem;
        font-weight: 600;
    }

    a{
        font-size: 1.2rem;
        margin-left: 1.2rem;
        height: 2.4rem;
        color:$text-primary-color;
        text-decoration: none;
        font-weight: 600;

        &:hover{
            color:$primary-color;
            border-bottom: 0.3rem solid $primary-color;


            
        }

        
    }

   

    .active{
        border-bottom: 0.3rem solid $primary-color;


        
        
    }
}

.nav-right_login-first{
    margin-left: 2.5rem;
}

.boxed{
    border-radius: 0.8rem;
    background: #E6F0F8;
    box-shadow:  5px 5px 10px #d6dfe7, -5px -5px 10px #f6ffff;
}

.btn{
    background: transparent;
    border: none;
    color:$text-primary-color;
    font-size: 1.7rem;
    margin-top: 0.6rem;
    cursor: pointer;
}

h5{
    font-size: 2.4rem;
    font-weight: 700;
    color:$text-primary-color;
}

// ------------ common ends -----------------



// ------------ home page starts --------------

.mobile-login{
    display: none;
}

// navigation starts
nav{
    margin-top: 5rem;

    .center{
        display: flex;
        justify-content: space-between;

    }

   
    .nav-right{
        display: flex;


        >a{
            padding:0 2.5rem;
            height:2.8rem;
            line-height: 2.8rem;
            font-size: 1.9rem;
            color:$text-primary-color;
            text-decoration: none;
            font-weight: 600;
            span{
                color:$primary-color;
                font-size: 1.4rem;
            }
            
            margin-left:3.5rem;

            &:hover{
                color:$primary-color;
                border-radius: 8px;
                background: #E6F0F8;
                box-shadow: inset 5px 5px 10px #d6dfe7, 
                            inset -5px -5px 10px #f6ffff;

                            span{
                                color:$text-primary-color;
                            }
            }
            
        }
       
    }
}

@media(max-width:800px){
    .mobile-login{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 2rem;

        >div{
            display: flex;
        }
    }

    nav{

        .logo{
            display: none;
        }
        .nav-right{
            display: flex;
            width: 100%;
            justify-content: space-between;

            >a{
                margin-left: 0;
            }
            &_login{
                display: none;
            }
        }
    }
}


// navigation ends



// ------------ home page ends --------------


// ------------ main starts -----------------

main{
    // position: absolute;
    // top:20%;
    // left:0;
    // width:100%;
    margin-top: 20rem;
    .content{
        padding:5rem 4rem 13.5rem 6rem;

        .total{
            display:flex;
            justify-content: flex-end;

            strong,span{
                font-size: 2rem;
                color:$text-primary-color;
                font-weight: 700;
            }

            span{
                color:$primary-color;

            }
        }

        .calculate{
            margin-top: 4rem;
            display: flex;
            &-left{
                width:25%;
                text-align: center;
                padding-top: 2.5rem;

                .btn{
                    outline: 0;
                    span{
                        color:$primary-color;
                        font-size: 1.4rem;
                    }

                    &:hover{
                        color:$primary-color;

                        span{
                            color:$text-primary-color;
                        }
                    }


                }

                h4{
                    font-size: 2.5rem;
                    color:$text-primary-color;
                    font-weight: 700;
                }

                .balance{
                    margin-top: 0.7rem;
                    color: $text-primary-color;
                    font-size: 1.7rem;

                    span{
                        color:$primary-color;
                        font-size: 1.7rem;
                        font-weight: 600;
                    }
                }

              
                
            }
            &-center{
                width:50%;
                // display: flex;
                
                // justify-content: center;
                text-align: center;

                .tabs{
                    width:50%;
                    display: inline-block;
                    height:3.4rem;
                    line-height: 3.4rem;
                    padding: 0.1rem;

                    button{
                        width:47%;  
                        border: none;
                        cursor: pointer;
                        background: transparent;
                        font-size: 1.2rem;
                        color:$text-primary-color;
                        font-weight: 600;
                        outline: 0;
                        height: 80%;

                        &:hover{
                            color:$primary-color;
                            
                        }
                        
                       
                    }
                    button.active{
                        color:$primary-color;
                        cursor: default;
                        border-radius: 8px;
                        background: #E6F0F8;
                        box-shadow: inset 5px 5px 10px #d6dfe7, 
                                    inset -5px -5px 10px #f6ffff;

                    }
                }

            
                .main-calculation{
                    margin-top: 1.3rem;
                    display: flex;
                    padding-left: 2rem;
                    // justify-content: center;
                    .text-area{
                        width:80%;
                        background: $white-color;
                        border-top:0.2rem solid $border-color;
                        border-left:0.2rem solid $border-color;
                        height: 4.4rem;
                        border-radius: 0.8rem;
                        line-height: 4.4rem;
                        text-align: left;
                        padding: 0 0.1rem;
                        padding-left: 0.8rem;
                        display: flex;

                        input{
                            border: none;
                            color:$text-primary-color;
                            background: $white-color;
                            opacity: 0.6;
                            height: 100%;
                            outline: 0;
                            padding:0 0.2rem;
                            width:65%;
                            font-size: 2rem;
                        }

                        span{
                            font-size: 2rem;
                            color:$text-primary-color;
                            opacity: 0.6;
                            text-align: right;

                            width:30%;
                        }

                    }

                    .button-wrap{
                        width:30%;
                        display: flex;
                        justify-content: flex-end;

                        button{
                            width:90%;
                            color:#fff;
                            background: $primary-color;
                            border: none;
                            font-size: 2rem;
                            font-weight: 600;
                            border-radius: 0.8rem;
                            outline: 0;
                            box-shadow:  5px 5px 10px rgb(169, 166, 166), -5px -5px 10px #f6ffff;
                        -webkit-box-shadow:  5px 5px 10px rgb(169, 166, 166), -5px -5px 10px #f6ffff;
                            
                            cursor: pointer;

                            &:hover{
                                opacity: 0.8;
                            }
                                    
                        }
                    }
                }

            }

            &-right{
                width:24%;
                margin-left: 2rem;
            }
          
        }
        
    }
    
}


@media(max-width:620px){
    main{
        .content{
            .calculate{
                flex-direction: column;

                >div{
                    width:100%;
                }

                &-center{
                    margin:3rem 0rem;
                }
            }
        }
    }
}



// ------------ main ends -----------------


// ----------- footer starts ---------------

footer{
    color:$primary-color;
    font-size: 2rem;
    margin-top: 25rem;
    padding-bottom: 2rem;
    // position:  absolute;
    // bottom:0;
    // left:0;
    .center{
        display: flex;
        justify-content: space-around;


       .social{
           display: flex;

           a{
               margin-left:0.3rem;
               img{
                   width:2.5rem;

               }
           }
       }

    }
}


// ---------- footer ends ----------------



// ---------------------------------------
// ---------------------------------------

// --------- status page starts -------------

// ---------------------------------------
// ---------------------------------------

// ----------- status starts-------------

.status-content{
    margin-top: 14rem;
    
   .boxed{
    //    padding:0.1rem 0; 
    // padding-top: 0.2rem;
    padding-left: 2rem;
   }
}

.status{
   
    padding-top: 3rem;
    padding-bottom: 3rem;

    &-lower{
        display: flex;
        margin-top:4rem;
        >div{
            // width:25%;
            padding:0 5rem;
            // background: red;
            // margin:0 1.4rem;
            border-right:0.1rem solid $border-color;

            text-align: center;

            &:last-child{
                border-right: none;
            }
            strong{
                color:$primary-color;
                display: block;
                font-size: 3rem;

                small{
                    font-size: 1.8rem;
                    font-weight: 400;
                }
            }

            span{
                display: block;
                color:$text-primary-color;
                font-weight: 600;
                font-size: 1.6rem;
                margin-top: 1.2rem;
            }

        }
    }
}

@media(max-width:800px){
    .status{
        &-lower{
            >div{
                padding: 0 3rem;
                text-align: left;
                strong{
                    font-size: 2.4rem;

                    small{
                        font-size: 1.6rem;
                    }
                }

                span{
                    font-size: 1.4rem;
                }
            }
        }
    }
}


@media(max-width:620px){

    .status{
        &-lower{
            flex-direction: column;

            >div{
                border-right:none;
                padding: 0;

                margin-top: 3rem;
            }
        }
    }
}

// ----------- status ends-------------

// ------------ authorities starts ---------

.authorities{
    margin-top:9rem;
    padding-bottom: 3rem;

    ul{
        margin-top: 3rem;
        li{
            margin-top: 2.4rem;
            list-style: none;
            display: flex;
            strong{
                border-right:0.1rem solid $border-color;
                color:$primary-color;
                font-size: 3rem;
                padding-right:2rem;
            }

            >div{
                display: flex;
                padding-left:2rem;

                .icon{
                    display: flex;
                    align-items: center;
                    margin-right:2rem;
                }

                .des{
                    display: flex;
                    align-items: center;
                    color:$text-primary-color;
                    font-weight: 700;
                    font-size: 1.6rem;
                }
            }
        }
    }
}


@media(max-width:620px){
    .authorities{
        ul{
            li{
                >div{
                    .icon{
                        display: none;
                    }

                    .des{
                        font-size: 1.4rem;
                    }
                }
            }
        }
    }
}


// --------- authorities ends ------------

// ---------------------------------------
// ---------- status page footer ----------

.status-page{
    footer{
        margin-top: 10rem;
    }
}

// -status page footer -
// ------------------------------------------


// ----------------------------------------
// --------------------------------------

// --------statistics page ---------------

// ------------------------------------------
// ---------------------------------------


.status-bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 8rem;
    >div{
        width:50%;
    }

   
}

@media(max-width:480px){
    .status-bottom{
        flex-direction: column;
        margin-top:4rem;
        padding-top: 0;
        >div{
            width:100%;
        }

        .status-final{
            margin-top: 3rem;
        }

        .status-lower{
            margin-top: 0rem;
        }
    }
}



// --------------------------------------\
// --------------------------------------


// --------- pop ups ------------------------

// --------------- error starts --------------

.error{
    background: #fff;
    position: absolute;
    top:50%;
    left:50%;
    padding: 2rem;
    width:30%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 0.8rem;
    display: none;

    &-icon{
        display: flex;
        justify-content: center;
    }

    h2{
        text-align: center;
        font-size: 2.6rem;
        font-weight: 700;
        color:$text-primary-color;
        margin-top: 4rem;
    }

    p{
        text-align: center;
        color:$text-primary-color;
        font-size: 1.6rem;
        
        margin-top: 2rem;
    }

    .btn-wrapper{
        display: flex;
        justify-content: flex-end;
        margin-top: 3rem;

        button{
            background: $ok-color;
            color:#fff;
            font-weight: 600;
            border: none;
            border-radius: 0.8rem;
            cursor: pointer;
            padding:1rem 2.4rem;
            font-size: 1.4rem;
            outline: 0;

            &:hover{
                text-decoration: underline;
            }
        }
    }
    
}


@media(max-width:800px){
    .error{
        width:50%;
    }
}

@media(max-width:480px){
    .error{
        width:80%;
    }
}

// --------------- error ends --------------

// ----------more info starts-------------

.more-info{
    background: #fff;
    position: absolute;
    top:50%;
    left:50%;
    padding: 2rem;
    width:40%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 0.8rem;
    display: none;

    .close{
        position: absolute;
        right:-2rem;
        top:-2rem;
        z-index: 1001;
        button{
            outline: 0;
            font-size: 2.6rem;
            font-weight: 600;
            border: none;
            background: transparent;
            color:#fff;
            cursor: pointer;
        }

        
    }

    ul{
        li{
            list-style: none;
            display: flex;
            justify-content: space-between;
            margin-top: 2.2rem;

            span{
                color:$text-primary-color;
                font-size: 1.4rem;

                a{
                    text-decoration: none;
                    
                    &:hover{
                        text-decoration: underline;

                    }
                }
            }

            span:first-child{
                color:#777;
            }

            .total-poa{
                font-weight: 700;
            }
        }
    }
}

@media(max-width:800px){
    .more-info{
        width: 60%;
        ul{
            li{
                flex-direction: column;

               
            }
        }
    }
}

@media(max-width:480px){
    .more-info{
        width: 80%;
    }
}


.shown-more_info{
    .cover-wrapper{
        display: block;
        height:112%;
        overflow: hidden;
        width:100%;
        position: absolute;
        z-index: 900;
        opacity: 0.6;
        top:-11rem;
        left:0;
        background: $primary-color;
    }
    .more-info{
        display: block;
    }
}


// ----------more info ends-------------



